    body {
        background: url(../img/app%20academy.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    span {
        color: yellowgreen;
    }